<footer class="bg-body-tertiary">
  <div class="socials">
    <a href="https://www.linkedin.com/in/mohammed-aasif-0012222aa/"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.facebook.com/profile.php?id=61558922558520"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://www.instagram.com/i.m_aasif04/"><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="myself">
    <h5 style="margin-top: 10px;">Made by Aasif  <img src="/nitt_logo.png" class="nitt"/></h5> 
  </div>
</footer>