<% layout('layouts/boilerplate') %>
<div class="allListing">
  <h2> All Property Listings </h2> <br/>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 ">
    <% for(let i = 0; i < listings.length; i++) { %>
      <div class="col">
        <a href="listings/<%= listings[i]._id %>" style="text-decoration: none;" >
        <div class="card shadow-lg bg-body-tertiary rounded" style="height: auto;">
          <img src="<%= listings[i].image.url %>" class="card-img-top " alt="Property image" style="height: 18rem;">
          <div class="card-body" >
            <h6><%= listings[i].title %>  </h6> 
            <p class="card-text">  &#8377; <%= listings[i].price.toLocaleString('en-in') %> / night </p>
          </div>
        </a>
        </div>
      </div>
    <% } %>
  </div>
  
</div>